.viewControlStrip {
  display: flex;
  justify-content: flex-end;
  padding-right: 3.5%;
  z-index: 10;
  margin-top: 1rem;
  position: sticky;
  top: 3vh;
}

.iconBlock {
  padding: 5px 10px;
  border: 0.5px solid hsl(0, 0%, 63%);
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  margin-left: 10px;
  color: hsl(0, 0%, 43%);
}

.activeIcon {
  background-color: #373737 !important;
  color: lightgray !important;
  border: none;
  
}

.bottomFilters {
  background-color: white;
  border-top: 1px solid gainsboro;
  padding-top: 0.6rem;
  height: 70px;
  position: fixed;
  box-shadow: 0px 2px 2px 3px rgb(212, 212, 212, 0.5);
  z-index: 2;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-x: scroll;
}

/* Mobile Filter Button */
.mobileFilterButton {
  margin: 0px 10px;
  font-size: 12px;
  height: 30px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 8px;
  border: none;
  background: transparent;
}

.activeMFButton {
  color: white;
  background-color: #373737;
}
