.viewControlStrip{
  display: flex;
  justify-content: flex-end;
  padding-right: 3.5%;
  z-index: 10;
  margin-top:1rem;
  position:sticky;
  top:3vh;
}


.iconBlock {
  padding: 5px 10px;
  border: 0.5px solid hsl(0, 0%, 63%);
  border-radius: 6px;
  background-color: white;
  margin-left: 10px;
  color: hsl(0, 0%, 43%);
}
