.rfSheikhListItem {
  display: flex;
  box-sizing: border-box;
  position: relative;
  border: 1px solid lightgray;
  height: 70px;
  cursor: pointer;
  align-items: center;
  margin: 5px 5px 2rem;
  padding: 0px 10px;
  transition: all 250ms ease-in-out;
}
.rfSheikhListItem .sheikhImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid hsl(0, 0%, 89%);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.rfSheikhListItem .sheikhDetails {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.rfSheikhListItem .sheikhDetails span {
  text-transform: capitalize;
  display: block;
  text-align: left;
  z-index: 2;
}
.rfSheikhListItem .flag {
  position: absolute;
  right: 5%;
  border-bottom: none;
  padding: 5px 14px 2px;
  bottom: 10%;
  z-index: 0;
  transition: all 250ms ease-in-out;
}

.rfSheikhListItem:hover {
  background-color: gainsboro;
}
/* .rfSheikhListItem:hover .flag{
  display: block;
  background-color: gainsboro;
  
  bottom: 100%;
} */

.flagSection {
  position: absolute;
  z-index: 0;
  width: 20px;
  height: 15px;
  top: 4px;
  right: 5px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
