.rfSheikhCard {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  margin: 5px;
  padding: 0px 10px;
}
.rfSheikhCard .sheikhImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 2rem 0px 1rem;
  border: 1px solid hsl(0, 0%, 89%);
  background-position:top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.rfSheikhCard .flag {
  margin-bottom: 0.5rem;
}
.rfSheikhCard .sheikhDetails {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-bottom: 3rem;
}

.rfSheikhCard .sheikhDetails span:first-child {
  font-size: 16px;
  margin-bottom: 0.7rem;
}

.rfSheikhCard:hover {
  background-color: gainsboro;
  box-shadow: 1px 1px 5px 1px rgb(102, 102, 102, 0.2);
}
