.profilePage {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.profileAvatar {
  margin-top: 1.5rem;
}
.formItems {
  margin: 0.5rem 1%;
}
.themeToggle {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  cursor: pointer;
  border-radius: 10px;
}

.selectedBg {
  outline: 3px solid rgb(0, 122, 221);
  outline-offset: 3px;

}
