.profilePage {
  background: url(../../assets/islamicArt3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.profileAvatar {
  margin-top: 1.5rem;
}
.formItems {
  margin: 0.5rem 1%;
}
