.qAndACard {
  border-radius: 10px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 15px;
  padding: 15px;
  position: relative;
}

.qAndACard .qSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.qAndACard .qSection span:first-child {
  font-size: 13px;
  color: hsl(0, 0%, 50%);
}
.qAndACard .qSection span:last-child {
  font-size: 14px;
  color: hsl(0, 0%, 20%);
  font-weight: 500;
}

.qAndACard .qAndAAnswer {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: hsl(120, 29%, 83%);
  /* background-color: dodgerblue; */

  padding: 0px 10px;
  font-size: 14px;
  color: hsl(120, 29%, 30%);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90px;
  border-radius: 6px;
}
