.staffAllApps {
  text-align: left;
}

.staffAllApps .allApps {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
}

.staffAllApps .allApps .appCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: grey;
    height: 75px;
}
.staffAllApps .allApps .appCard span{
    display: block;
    text-align: center;

}